@import url('https://fonts.googleapis.com/css?family=Mukta+Malar');

.loginForm {
  text-align: center;
  padding-top: 50px;
}

.loginForm p {
  font-family: 'Mukta Malar', sans-serif;
}

.quoteGenerator {
  text-align: center;
}

.textGenerator {
  text-align: center;
  padding-top: 50px;
}

.theButton {
  text-align: center;
  padding-top: 100px;
}

.globe {
  text-align: center;
  padding-top: 50px;
}
